body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    font-size: 88px;
    color: #0d0e2e;
    text-transform: uppercase;
    z-index: 100;
    font-weight: bold;
    top: 100px;
    left: 100px;
}

.search-container {
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #000;
    z-index: 100;
    top: 230px;
    left: 100px;
    border-radius: 30px;
    display: flex;
}

.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.search-container input {
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.search-container input:focus {
    outline: none;
}
.search i {
    font-size: 25px;
    color: white;
}

.store-list-container {
    position: absolute;
    background: white;
    width: 400px;
    z-index: 100;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
}

.store-address {
    font-size: 21px;
    color: #000;
    margin-top: 30px;
}

.store-phone-number {
    color: #0d0e2e;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #000;
    color: #85ADAD;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.store-address span {
    display: block;
}

.stores-list {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    flex-grow: 1;
}
.store-info-container {
    flex-grow: 1;
}
.store-container {
    border-bottom: 1px solid #979797;
    cursor: pointer;
}
.store-number-container {
    display: flex;
    align-items: center;
}
.store-container-background {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: all 0.2 ease-in-out;
}

#content {
    color: #0d0e2e;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    
}

.store-container-background:hover {
    background-color: #ccc;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

  }